<div class="accordion">
  {% if include.filter %}
    {% assign sorted = (site.data.[{{include.ministry}}].volunteer | where:"type",{{include.filter}}) %}
  {% else %}
    {% assign sorted = (site.data.[{{include.ministry}}].volunteer) %}
  {% endif %}
  {% for item in sorted %}
    {% assign id = {{item.description.size | times:item.type.size | times:item.title.size | prepend:'panel'}} %}
  
    <div>
      <input type="checkbox" name="panel" id="{{id}}">
      <label for="{{id}}">{{ item.title }}<svg class="accordion-icon"><use xlink:href="{{ site.baseurl }}/assets/icons.svg#arrow" /></svg></label>
      <div class="accordion-content">
        <p class="accordion-header">{{ item.title }}</p>
        <p class="accordion-body">{{ item.description }}</p>
      </div>
    </div>
  {% endfor %}

</div>