<div class="media-list media-list--people">
  {% assign people = site.data.people | where:"ministry", include.ministry %}
  {% for person in people %}
    <!-- Used to do an unless person.pastor -->
    
    {%if {{include.links}} %}
      <a href="{{site.baseurl}}/people/{{person.profile}}" class="profile-link">
    {% endif %}
    
    <div class="media person">
      <img class="media-figure image-round center profile-thumbnail" src="{{ site.baseurl }}/assets/images/{{person.photo}}" alt="{{person.name}}" width="100" height="100" />
       <div class="media-body center">
         <h5 class="m0 p0 txt--center">{{person.name}}</h5>
         <p class="m0 p0 txt--center">
           {%if person.pastor %}<strong>{{person.title}}</strong><br/>{% endif %}
           {{person.role}}
         </p>
       </div>       
    </div>
    
    {%if {{include.links}} %}
      </a>
    {% endif %}
      
    <!-- endunless -->
  {% endfor %}
</div>