<div class="media-list media-list--people">
  {% assign people = site.data.people | where:"ministry", include.ministry | sort: 'order', 'last' %}
  {% for person in people %}
    <!-- Used to do an unless person.pastor -->

    {%if {{include.links}} and {{person.profile}} %}
      <a href="{{site.baseurl}}/people/{{person.profile}}" class="profile-link">
    {% else %}
      <div class="profile-link">
    {% endif %}

    <div class="media person">
      <img class="media-figure image-round center profile-thumbnail" src="{{ site.baseurl }}/assets/images/{{person.photo}}" alt="{{person.name}}" width="100" height="100" />
       <div class="media-body center">
         <h5 class="m0 p0 txt--center">{{person.name}}</h5>
         <p class="m0 p0 txt--center">
           {%if person.pastor %}<strong>{{person.title}}</strong><br/>{% endif %}
           {{person.role}}
         </p>
       </div>
    </div>

    {%if {{include.links}} and {{person.profile}} %}
      </a>
    {% else %}
      </div>
    {% endif %}

    <!-- endunless -->
  {% endfor %}
</div>
