
/*
* Accordion
*/

/* Basic Accordion Styles */
.accordion {
  margin: 0 -16px;
  
  
  /* Radio Inputs */
  input[name='panel'] {
    display: none;
  }

  /* Labels */
  label {
    position: relative;
    display: block;
    padding: 1em;
    font-size: 1.5em;
    background-color:#FFF;
    cursor: pointer;
    transition: all $timing $ease;
    border-left: 10px solid #ccc;
    
    &:hover {
      color: $green;
    }
      
  }
  
  input:checked + label {
    color: $green;  
    border-color: $green;  
  }
  
  /* Panel Content */
  .accordion-content {
    overflow: hidden;
    max-height: 0em;
    position: relative;
    padding: 0 1.5rem;
    box-shadow: inset 0 1px 6px rgba(#000,.15);
    background: lighten($light-gray, 12%);
    transition: all $timing $ease;
    
    .accordion-header {
      margin-top: 2rem;
      font-weight: 600;
    }
      
    .accordion-body {
      padding: 0 1.5rem 1.5rem 1.5rem;
    }
    
  }
   
}

input[name='panel']:checked ~ .accordion-content {
  /* Get this as close to what height you expect */
  max-height: 50rem;
}