
/* Container Sizing
   ========================================================================== */

.container {
  margin:0 auto 3rem auto;
  
  @media screen and (min-width: $viewport-l) {
    & {max-width: $measure-width; }
  }
}


/* Typography
   ========================================================================== */

h1,
.h1 {
  margin-bottom: 2rem;
}

h2,
.h2 { margin-bottom: 4rem; }

h3,
.h3 { margin-top: 3rem; margin-bottom: 2rem; }

h4,
.h4 { margin-bottom: 1rem; }

h5,
.h5 { margin-bottom: 1rem; }

h6,
.h6 { margin-bottom: .5rem; font-size: .9rem; line-height: 1rem; font-weight:400; }

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba($green, 0.1), rgba($green, 1), rgba($green, 0.1));
}


/* Media
   ========================================================================== */
   
/**
 * Make videos responsive
 */
 
.video {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  
  // Modifier class for 16:9 aspect ratio
  &.sixteen-nine {
    padding-bottom: 56.25%;
  }
  
  // Modifier class for 4:3 aspect ratio
  &.four-three {
    padding-bottom: 75%;
  }
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/**
 * Make round images
 */
 
.image-round {
  border-radius: 50%;
}

  



/**
 * Ridiculously good looking app download buttons
 */

%download-button {
  max-width: 14rem;
  @media screen and (max-width: $viewport-m) {
    & { max-width: 9rem;}
  }
} 
 
.btn-download--apple {
  @extend %download-button;
  height:54px;
  margin-top:13px;
  @media screen and (max-width: $viewport-m) {
    & { height: 37px; margin-top:9px}
  }
}
.btn-download--google {
  @extend %download-button;
  height:80px;
  @media screen and (max-width: $viewport-m) {
    & { height: 55px;}
  }
}


/* Data Lists
   ========================================================================== */

.sorted-list-heading {
  text-transform: capitalize;
}

.pastor-bio {
  display: flex;
}   

.person {
  flex-basis: 50%;
  margin-bottom: 2rem;
  
  @media screen and (min-width: $viewport-l) {
    & {flex-basis: 33%; }
  }
}

.resource {
  
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  border: 1px solid $green;
  border-radius: $border-radius;
  
  .media-figure {
    background-color: $green;
    line-height: 1rem;
    
    svg {
      margin: 1rem;
      color:#FFFFFF;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  
  @media screen and (min-width: $viewport-l) {
    & {flex-basis: 48%; }
  }
}

.icon--white {
  fill: #FFF;
  stroke: #FFF;
}
.icon--green {
  fill: $green;
  stroke: $green;
}